/*.page-content .container {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.page-h1 {*/
/*    font-size: 33px;*/
/*    font-weight: 600;*/
/*    line-height: normal;*/
/*}*/

.servers {
    display: block;
    /*flex-direction: column;*/
    /*width: 100%;*/
    height: 650px;
    position: relative;
    top: 80px;
    /*left: 15px;*/
    /*right: 30px;*/
    font-size: 19px;
    font-family: Inter, serif;
}

body {
    background-color: #FAE9CDFF;
    overflow-x: hidden;
}

.nav a.selected {
    background: rgba(177, 152, 145, .3);
}

.nav a {
    color: #492D2D;
    padding: 10px 20px;
    background: white;
    border-radius: 12px;
}

.nav a.active {
    background-color: rgba(177, 152, 145, .3);
}

.nav a:hover {
    background: rgba(177, 152, 145, .3);
}

a {
    text-decoration: none;
}

.slidecontainer {

}

footer > div {
    margin-top: 300px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 10px;
    /*flex-direction: row;*/
    /*margin: auto;*/
    position: relative;
    height: 250px;
    width: 100%;
    background: #FAE9CD;
    font-size: 17px;
    font-family: Arial, Inter, serif;
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
}

.footer a {
    color: #492D2D;
}

.catalog {
    /*display: inline-block;*/
    margin: 0 20px 0 57px;
    float: left;

}

.menu {
    /*display: inline-block;*/
    margin: 0 100px 0 20px;

}

.list {
    /*display: inline-block;*/
    margin: 50px 40px 0 20px;
}

.footer .contacts {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 117px 0 20px;
    text-align: left;
}

.icons {
    padding-top: 159px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*.contacts a {*/
/*    color: blue;*/
/*}*/

.catalog h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.menu h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

/*.wrapper {*/
/*    padding: 100px;*/
/*}*/

/*.profiled{*/
/*    display: inline-block;*/
/*    color: white;*/
/*    background-color: #492D2D;*/
/*    !*color: #492D2D;*!*/
/*    !*background-color: white;*!*/
/*    width: 250px;*/
/*    height: 150px;*/
/*    padding: 18px;*/
/*    border-radius: 10px;*/
/*    font-family: Arial, Inter, serif;*/
/*    !*Arial,*!*/
/*    font-size: 18px;*/
/*    margin: 18px;*/
/*}*/
/*.brand{*/
/*    padding-top: 100px;*/
/*    overflow: auto;*/
/*}*/
/* настройки для всего элемента с чекбоксом */
.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* отдельные настройки для самого чекбокса */
.checkbox__input {
    /* устанавливаем абсолютное позиционирование */
    position: absolute;
    /* задаём высоту и ширину */
    width: 1.375em;
    height: 1.375em;
    /* делаем чекбокс непрозрачным, чтобы скрыть исходный элемент и заменить его потом нарисованным */
    opacity: 0;
    /* меняем внешний вид курсора */
    cursor: pointer;
}

/* настройки для SVG-иконки */
.checkbox__icon {
    /* размеры совпадают с размерами скрытого чекбокса */
    width: 1.375em;
    height: 1.375em;
    /* убираем ограничение по наименьшей ширине блока */
    flex-shrink: 0;
    /* разрешаем отображать содержимое за пределами блока */
    overflow: visible;
}

/* общие настройки для нового чекбокса и галочки */
.checkbox__icon .tick {
    /* рисовать будем всё отрезками по 20 пикселей */
    stroke-dasharray: 20px;
    /* но сместим начало всех отрезков тоже на 20 пикселей, чтобы пока галочка не рисовалась */
    stroke-dashoffset: 20px;
    /* это даст нам плавную анимацию отрисовки галочки */
    transition: stroke-dashoffset 0.2s ease-out;
}

/* настройки для подписи чекбокса */
.checkbox__label {
    /* добавляем отступ слева */
    margin-left: 0.5em;
}

/* включаем возможность поставить галочку */
.checkbox__input:checked + .checkbox__icon .tick {
    /* убираем смещение для отрезков, чтобы включить анимацию галочки */
    stroke-dashoffset: 0;
}

.filters_h {
    position: relative;
    top: 190px;
    left: 75px;
    margin: 5px;
    font-size: 20px;
}

/*.slider {*/
/*    -webkit-appearance: none;*/
/*    width: 100%;*/
/*    height: 15px;*/
/*    border-radius: 5px;*/
/*    background: #d3d3d3;*/
/*    outline: none;*/
/*    opacity: 0.7;*/
/*    -webkit-transition: .2s;*/
/*    transition: opacity .2s;*/
/*}*/

.price-input {
}

.field input {
    text-align: center;
    font-size: 15px;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.slider-range {
    top: 15px;
    height: 5px;
    position: relative;
    border-radius: 5px;
    background: #ddd;
}

.slider-range .progress {
    position: absolute;
    left: 25%;
    right: 25%;
    height: 100%;
    /*height: 5px;*/
    border-radius: 5px;
    background: #B48263;
}

.range-input {
    position: relative;
}
/*details > summary {*/
/*    list-style-type: none;*/
/*}*/

/*details > summary::-webkit-details-marker {*/
/*    display: none;*/
/*}*/

/*details > summary::before {*/
/*    content: '⊕ ';*/
/*    font-size: 18px;*/
/*}*/

/*details[open] > summary::before {*/
/*    content: '⊖ ';*/
/*    font-size: 18px;*/
/*}*/
/*details > summary {*/
/*    list-style-type: none;*/
/*}*/

/*details > summary::-webkit-details-marker {*/
/*    display: none;*/
/*}*/

/*details > summary::before {*/
/*    content: "+";*/
/*    !*border-radius: 100%;*!*/
/*    color: black;*/
/*    float: left;*/
/*    font-size: 1.5em;*/
/*    font-weight: bold;*/
/*    margin: -5px 10px 0 0;*/
/*    text-align: center;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    !*border: black solid 2px;*!*/
/*}*/

/*details[open] > summary::before {*/
/*    content: '-';*/
/*}*/

/*details[open] > summary {*/
/*    margin-bottom: 0.5rem;*/
/*}*/

.range-input input {
    position: absolute;
    top: 7px;
    height: 5px;
    width: 100%;
    pointer-events: none;
    -webkit-appearance: none;
    background: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #B48263;
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: #B48263;
}

/*.slider::-webkit-slider-thumb {*/
/*    -webkit-appearance: none;*/
/*    appearance: none;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    border-radius: 50%;*/
/*    background: #4CAF50;*/
/*    cursor: pointer;*/
/*}*/

/*.slider::-moz-range-thumb {*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    border-radius: 50%;*/
/*    background: #4CAF50;*/
/*    cursor: pointer;*/
/*}*/

.check-group {
    display: block;
    position: relative;
    top: 200px;
    width: 250px;
    height: 175px;
    overflow: auto;
    margin: 5px;
    background: #fff;
    max-width: 13rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 10, 0.2);
}

details[open] {
    display: block;
    position: relative;
    top: 200px;
    width: 250px;
    height: 175px;
    overflow: auto;
    margin: 5px;
    background: #fff;
    max-width: 13rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 10, 0.2);
}

details {
    display: block;
    position: relative;
    width: 210px;
    top: 200px;
    margin: 5px;
    background: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 10, 0.2);
}
summary{
    padding-bottom: 10px;
}
.profiled > * + * {
    margin-top: 0.75rem;
}

.width > * + * {
    margin-top: 0.75rem;
}

.coating > * + * {
    margin-top: 0.75rem;
}

.workWidth > * + * {
    margin-top: 0.75rem;
}

.warranty > * + * {
    margin-top: 0.75rem;
}

.check-group > * + * {
    margin-top: 0.75rem;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
}

/*скролл второго варианта*/
/*::-webkit-scrollbar-thumb {*/
/*    border: 5px solid transparent;*/
/*    border-radius: 100px;*/
/*    background-color: #d4aa70;*/
/*    background-clip: content-box;*/
/*}*/
.square {
    height: 20px;
    width: 20px;
}