body {
    background-color: #FAE9CDFF;
}

form {
    position: relative;
    right: 0;
    max-width: 35rem;
    background-color: #fff;
    box-shadow: 0 3px 60px 0 rgba(0, 0, 0, .15);
    border-radius: 1rem;
}

.nav .d3 form {
    background-color: #fff;
}

.nav .d3 input, .d3 button {
    border: none;
    outline: none;
    background: transparent;
}

.nav .d3 input {
    width: 50%;
    height: 42px;
    padding-left: 15px;
    font-size: 15px;
    color: black;
}

.nav .d3 button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: url("headerIcons/magnifier.png") scroll no-repeat center;
    width: 5.5rem;
    height: 100%;
    cursor: pointer;
}

.nav .d3 button:before {
    /*content: url("headerIcons/magnifier.png");*/
    /*font-size: 10px;*/
    /*color: white;*/
}

.header{
    position: absolute;
    top: 15px;
    left: 30px;
    right: 30px;
    z-index: 1000;
}

.nav{
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    height: 70px;
    left: 0;
    top: 80px;
    right: 0;
    color: #492D2D;
    background: #FFFFFF;
    border-radius: 12px;
}

.header .info{
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: row-reverse;
    top: 0;
    right: 0;
}

.header .contacts{
    list-style-type: none;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
}

a {
    text-decoration: none;
}

.nav a {
    color: #492D2D;
}
