body {
    /*background-color: #FAE9CDFF;*/
    background-color: #FAE9CD;
    overflow-x: hidden;
}

form {
    position: relative;
    right: 0;
    max-width: 35rem;
    background-color: #fff;
    box-shadow: 0 3px 60px 0 rgba(0, 0, 0, .15);
    border-radius: 1rem;
}

.logo .text_about_company {
    display: inline-block;
    position: absolute;
    /*vertical-align: center;*/
    font-size: 16px;
    margin: 15px 0 0 30px;
    font-family: Arial, Inter, serif;
}

.logo .logo_photo {
    margin-top: 8px;
}

.nav .roof {
    position: relative;
    top: 5px;
    right: 5px;
}

.nav a.selected {
    background: rgba(177, 152, 145, .3);
}

.nav a {
    color: #492D2D;
    padding: 10px 20px;
    background: white;
    border-radius: 12px;
}

.nav a.active {
    background-color: rgba(177, 152, 145, .3);
}

.nav a:hover {
    background: rgba(177, 152, 145, .3);
}

.nav .d3 form {
    background-color: #fff;
}

.nav .d3 input, .d3 button {
    border: none;
    outline: none;
    background: transparent;
}

.nav .d3 input {
    width: 65%;
    height: 53px;
    padding-left: 16px;
    font-size: 17px;
    color: black;
}

.nav .d3 button {
    position: absolute;
    top: 0;
    right: 5px;
    border: none;
    background: url("header_icons/magnifier.png") scroll no-repeat center;
    width: 3.5rem;
    height: 100%;
    cursor: pointer;
}

.head {

}

.header {
    position: absolute;
    top: 15px;
    left: 30px;
    right: 30px;
    z-index: 1000;
}

.nav {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    height: 70px;
    left: 0;
    top: 80px;
    right: 0;
    color: #492D2D;
    background: #FFFFFF;
    border-radius: 12px;
}

.header .info {
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: row-reverse;
    top: 0;
    right: 0;
}

.header .contacts {
    list-style-type: none;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
}

a {
    text-decoration: none;
}

.nav a {
    color: #492D2D;
    padding: 10px 20px;
    background: white;
    border-radius: 12px;
}

.nav a:hover {
    background: rgba(177, 152, 145, .3);
}

.nav a.active {
    background-color: rgba(177, 152, 145, .3);
}

.imageHouse {
    position: relative;
    top: 200px;
    text-align: center;
    padding-bottom: 100px;

}

.info {
    position: absolute;
    font-size: 40px;
    top: 200px;
    text-align: center;
}

footer > div {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    margin-top: 250px;
    justify-content: space-between;
    padding: 0 10px 10px;
    /*flex-direction: row;*/
    /*margin: auto;*/
    position: relative;
    height: 250px;
    width: 100%;
    background: #FAE9CD;
    font-size: 17px;
    font-family: Arial, Inter, serif;
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
}

.footer a {
    color: #492D2D;
}

.catalog {
    /*display: inline-block;*/
    margin: 0 20px 0 57px;
    float: left;

}

.menu {
    /*display: inline-block;*/
    margin: 0 100px 0 20px;

}

.list {
    /*display: inline-block;*/
    margin: 50px 40px 0 20px;
}

.footer .contacts {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 117px 0 20px;
    text-align: left;
}

.icons {
    padding-top: 159px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*.contacts a {*/
/*    color: blue;*/
/*}*/

.catalog h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.menu h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.list_catalog {
    top: 170px;
    display: inline-block;
    color: black;
    position: relative;
    left: 100px;
    margin: 18px;
}

.navigator {
    position: relative;
    top: 190px;
    left: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

.link_sort {
    text-decoration: underline;
    font-size: 15px;
}

.link_sort:hover {
    color:#0075B2;
}

.navigator a {
    color: #000;
}

.products {
    text-align: center;
    top: 10px;
    display: inline-block;
    color: black;
    position: relative;
    padding: 18px;
    font-family: Arial, Inter, serif;
    /*Arial,*/
    font-size: 18px;
    margin: 18px;
}

.head {
    top: 180px;
    left: 30px;
    position: relative;
}
.article{
    top: 165px;
    left: 30px;
    position: relative;
    font-size: 20px;
}
.photo_product{
    top: 185px;
    left: 30px;
    position: relative;
}

.navigator .sep {
    position: relative;
    top: -20px;
    margin-left: 10px;
    margin-right: 10px;
}

.products h4:hover {
    color: #D6AE96;
}

.products img {
    border: transparent solid;
    border-radius: 30px;
}

.products img:hover {
    border: #333333 solid;
    border-radius: 30px;
}

/*.products:hover {*/
/*    border: #333333 solid;*/
/*}*/


.products a {
    color: black;
    /*color: #492D2D;*/
}

.products h4 {
    margin: 5px;
}

h3 {
    font-size: 33px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #B48263;
    /*background-color: #d4aa70;*/
    border-radius: 100px;
}