/*.page-content .container {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.container_size {
    max-width: 100%;
}

.search_content {
    display: block;
    position: absolute;
    max-height: 300px;
    overflow: auto;
    top: 100%;
    left: 0;
    z-index: 1;
    border-radius: 12px;
    background-color: #fff;
}

.search_content a {
    display: block;
    padding: 10px;
}

#block {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}

.page-h1 {
    font-size: 33px;
    font-weight: 600;
    line-height: normal;
}

.page-content {
    width: 85%;
    right: 30px;
    display: block;
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
    height: 450px;
    position: relative;
    top: 150px;
    left: 100px;
    font-size: 23px;
    font-family: Inter, serif;
}

body {
    background-color: #FAE9CDFF;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

footer > div {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 10px;
    /*flex-direction: row;*/
    /*margin: auto;*/
    position: relative;
    height: 190px;
    width: 100%;
    background: #FAE9CD;
    font-size: 17px;
    font-family: Arial, Inter, serif;
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
}

.footer a {
    color: #492D2D;
}

.catalog {
    /*display: inline-block;*/
    margin: 0 20px 0 57px;
    float: left;
}

.menu {
    /*display: inline-block;*/
    margin: 0 100px 0 20px;

}

.list {
    /*display: inline-block;*/
    margin: 50px 40px 0 20px;
}

.footer .contacts {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 117px 0 20px;
    text-align: left;
}

.icons{
    padding-top: 159px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*.contacts a {*/
/*    color: blue;*/
/*}*/

.catalog h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.menu h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.wrapper {
    padding: 100px;
}

h3 {
    font-size: 33px;
    text-align: center;
}

@media (min-width: 840px) {
    .search {
        position: relative;
        right: 0;
        max-width: 35rem;
        background: #fff url("../header_icons/magnifier.png") no-repeat scroll 180px 10px;
        box-shadow: 0 3px 60px 0 rgba(0, 0, 0, .15);
        border-radius: 12px; /*1rem*/
    }

    .logo .logo_photo {
        display: inline-block;
        position: relative;
        margin-top: 8px;
    }

    .logo .text_about_company {
        display: inline-block;
        position: absolute;
        /*vertical-align: center;*/
        font-size: 16px;
        margin: 15px 0 0 30px;
        font-family: Arial, Inter, serif;
    }

    .nav .roof {
        position: relative;
        top: 5px;
        right: 5px;
    }

    .nav .d3 form {
        background-color: #fff;
    }

    .nav .d3 input, .d3 button {
        border: none;
        outline: none;
        background: transparent;
    }

    .nav .d3 input {
        width: 65%;
        height: 53px;
        padding-left: 16px;
        font-size: 17px;
        color: black;
    }

    .nav .d3 button {
        position: absolute;
        top: 0;
        right: 5px;
        border: none;
        background: url("../header_icons/magnifier.png") scroll no-repeat center;
        width: 3.5rem;
        height: 100%;
        cursor: pointer;
    }

    .header {
        position: absolute;
        top: 15px;
        left: 30px;
        right: 30px;
        z-index: 1000;
    }

    .nav {
        display: flex;
        flex-shrink: 0;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        font-style: normal;
        font-size: 20px;
        line-height: 36px;
        height: 70px;
        left: 0;
        top: 80px;
        right: 0;
        color: #492D2D;
        background: #FFFFFF;
        border-radius: 12px;
    }

    .header .info {
        display: flex;
        align-items: center;
        position: absolute;
        flex-direction: row-reverse;
        top: 0;
        right: 0;
    }

    .header .contacts {
        list-style-type: none;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
    }

    .info {
        position: absolute;
        font-size: 40px;
        top: 200px;
        text-align: center;
    }

    .nav a {
        color: #492D2D;
        padding: 10px 20px;
        background: white;
        border-radius: 12px;
        flex-shrink: 0;
    }

    .nav a:hover {
        background: rgba(177, 152, 145, .3);
    }

    .nav a.active {
        background-color: rgba(177, 152, 145, .3);
    }

    .dropdown_mobile {
        display: none;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropdown_button {
        font-style: normal;
        font-size: 20px;
        line-height: 36px;
        cursor: pointer;
        color: #492D2D;
        padding: 10px 20px;
        border-radius: 12px;
        border: none;
        outline: none;
        background: rgba(177, 152, 145, .3);
        font-family: inherit;
        margin: 0;
    }

    .dropdown_content {
        display: none;
        position: absolute;
        height: 400px;
        overflow: auto;
        top: 100%;
        left: 0;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 12px;
    }

    .dropdown_content a {
        display: block;
        padding: 10px 20px;
        justify-content: space-around;
        align-items: center;
        font-style: normal;
        font-size: 20px;
        line-height: 36px;
        color: #492D2D;
        background: #FFFFFF;
        border-radius: 12px;
    }

    .show {
        display: block;
    }
}

@media (max-width: 1366px) {
    .logo .logo_photo {
        display: inline-block;
        position: relative;
        margin-top: 8px;
    }

    .container_size {
        width: 1200px;
        margin: auto;
    }

}

@media (max-width: 1199px) {
    .container_size {
        width: 960px;
        margin: auto;
    }

    .search {
        position: relative;
        right: 0;
        max-width: 35rem;
        background: #fff url("../header_icons/magnifier.png") no-repeat scroll 180px 10px;
        box-shadow: 0 3px 60px 0 rgba(0, 0, 0, .15);
        border-radius: 12px; /*1rem*/
    }

    .logo .text_about_company {
        display: inline-block;
        position: absolute;
        /*vertical-align: center;*/
        font-size: 16px;
        margin: 15px 0 0 30px;
        font-family: Arial, Inter, serif;
    }

    .nav .roof {
        position: relative;
        top: 5px;
        right: 5px;
    }

    .nav .d3 form {
        background-color: #fff;
    }

    .nav .d3 input, .d3 button {
        border: none;
        outline: none;
        background: transparent;
    }

    .nav .d3 input {
        width: 65%;
        height: 53px;
        padding-left: 16px;
        font-size: 17px;
        color: black;
    }

    .nav .d3 button {
        position: absolute;
        top: 0;
        right: 5px;
        border: none;
        background: url("../header_icons/magnifier.png") scroll no-repeat center;
        width: 3.5rem;
        height: 100%;
        cursor: pointer;
    }

    .header {
        position: absolute;
        top: 15px;
        left: 30px;
        right: 30px;
        z-index: 1000;
    }

    .nav {
        display: flex;
        flex-shrink: 0;
        position: absolute;
        justify-content: space-around;
        align-items: center;
        font-style: normal;
        font-size: 20px;
        line-height: 36px;
        height: 70px;
        left: 0;
        top: 80px;
        right: 0;
        color: #492D2D;
        background: #FFFFFF;
        border-radius: 12px;
    }

    .header .info {
        display: flex;
        align-items: center;
        position: absolute;
        flex-direction: row-reverse;
        top: 0;
        right: 0;
    }

    .header .contacts {
        list-style-type: none;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
    }

    .info {
        position: absolute;
        font-size: 40px;
        top: 200px;
        text-align: center;
    }

    .nav a {
        color: #492D2D;
        padding: 10px 20px;
        background: white;
        border-radius: 12px;
        flex-shrink: 0;
    }

    .nav a:hover {
        background: rgba(177, 152, 145, .3);
    }

    .nav a.active {
        background-color: rgba(177, 152, 145, .3);
    }

    .dropdown_mobile {
        display: none;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropdown_button {
        font-style: normal;
        font-size: 20px;
        line-height: 36px;
        cursor: pointer;
        color: #492D2D;
        padding: 10px 20px;
        border-radius: 12px;
        border: none;
        outline: none;
        background: rgba(177, 152, 145, .3);
        font-family: inherit;
        margin: 0;
    }

    .dropdown_content {
        display: none;
        position: absolute;
        height: 400px;
        overflow: auto;
        top: 100%;
        left: 0;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 12px;
    }

    .dropdown_content a {
        display: block;
        padding: 10px 20px;
        justify-content: space-around;
        align-items: center;
        font-style: normal;
        font-size: 20px;
        line-height: 36px;
        color: #492D2D;
        background: #FFFFFF;
        border-radius: 12px;
    }

    .show {
        display: block;
    }
}

@media (max-width: 991px) {
    .container_size {
        width: 720px;
        margin: auto;
    }

    .logo .text_about_company {
        display: inline-block;
        position: absolute;
        /*vertical-align: center;*/
        font-size: 14px;
        width: 200px;
        margin: 10px 0 0 30px;
        font-family: Arial, Inter, serif;
    }

    .nav {
        margin: auto;
    }

    footer > div {
        display: flex;
        flex-shrink: 0;
        flex-direction: row;
        margin-top: 50px;
        justify-content: space-between;
        padding: 0 10px 10px;
        /*flex-direction: row;*/
        /*margin: auto;*/
        position: relative;
        height: 1187.5%;
        width: 100%;
        background: #FAE9CD;
        font-size: 17px;
        font-family: Arial, Inter, serif;
        /*position: fixed;*/
        /*left: 0;*/
        /*bottom: 0;*/
    }

    .slidesshow {
        margin: auto;
        width: 100%;
    }

    .wrapper {
        margin: auto;
    }

    .catalog {
        /*display: inline-block;*/
        margin: 0 10px 0 20px;
        float: left;

    }

    .menu {
        /*display: inline-block;*/
        margin: 0 30px 0 17px;

    }

    .list {
        /*display: inline-block;*/
        margin: 50px 20px 0 20px;
    }

    .footer .contacts {
        /*display: inline-block;*/
        display: flex;
        flex-direction: column;
        gap: 93.75%;
        margin: 50px 59px 0 20px;
        text-align: left;
    }

    .icons {
        padding-top: 159px;
        gap: 93.75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .nav {
        display: none;
    }

    .dropdown_mobile {
        display: block;
        position: relative;
        width: 80px;
    }

    .drop_button {
        display: block;
        width: 80px;
        padding: 10px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 12px;
    }

    .mobile_content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f9f9f9;
        min-width: 200px;
        z-index: 1;
        border-radius: 12px;
    }

    .mobile_content a {
        display: block;
        padding: 10px;
        justify-content: space-around;
        align-items: center;
        font-style: normal;
        font-size: 20px;
        line-height: 36px;
        color: #492D2D;
        background: #FFFFFF;
        border-radius: 12px;
    }

    .mobile_content a:hover {
        background-color: #ddd;
    }

    .dropdown_mobile:hover .mobile_content {
        display: block;
    }

    .dropdown_mobile .search {
        position: relative;
        right: 0;
        max-width: 35rem;
        background-color: #fff;
        box-shadow: 0 3px 60px 0 rgba(0, 0, 0, .15);
        border-radius: 12px; /*1rem*/
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo .text_about_company {
        display: none;
    }

    .logo .logo_photo {
        display: inline-block;
        position: relative;
        margin-top: 8px;
    }

    .drop_nav .d3 form {
        background-color: #fff;
    }

    .drop_nav .d3 input, .d3 button {
        border: none;
        outline: none;
        background: transparent;
    }

    .drop_nav .d3 input {
        width: 65%;
        height: 53px;
        padding-left: 16px;
        font-size: 17px;
        color: black;
    }

    .drop_nav .d3 button {
        position: absolute;
        top: 0;
        right: 5px;
        border: none;
        background: url("../header_icons/magnifier.png") scroll no-repeat center;
        width: 3.5rem;
        height: 100%;
        cursor: pointer;
    }

    .header {
        position: absolute;
        top: 15px;
        left: 30px;
        right: 30px;
        z-index: 1000;
    }

    .contacts span {
        display: none;
    }

    .header .info {
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: row-reverse;
        grid-gap: 10px;
        font-size: 40px;
        text-align: center;
    }

    .header .contacts {
        list-style-type: none;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        padding-left: 0;
    }

    .drop_nav a {
        color: #492D2D;
        padding: 10px 20px;
        background: white;
        border-radius: 12px;
    }

    .drop_nav a:hover {
        background: rgba(177, 152, 145, .3);
    }

    .drop_nav a.active {
        background-color: rgba(177, 152, 145, .3);
    }

    .container_size {
        width: 540px;
        margin: auto;
    }

    footer > div {
        display: flex;
        flex-shrink: 0;
        margin-top: 50px;
        justify-content: space-between;
        padding: 0 5px 5px;
        position: relative;
        height: 1187.5%;
        width: 100%;
        background: #FAE9CD;
        font-size: 11px;
        font-family: Arial, Inter, serif;
    }

    .wrapper {
        margin: auto;
    }

    .footer a {
        color: #492D2D;
    }

    .catalog {
        /*display: inline-block;*/
        margin: 0 10px 0 10px;
        float: left;

    }

    .menu {
        /*display: inline-block;*/
        margin: 0 9px 0 9px;

    }

    .list {
        /*display: inline-block;*/
        margin: 37px 10px 0 10px;
    }

    .footer .contacts {
        /*display: inline-block;*/
        display: flex;
        flex-direction: column;
        gap: 93.75%;
        margin: 50px 40px 0 20px;
        text-align: left;
    }

    .icons {
        padding-top: 159px;
        gap: 93.75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location_logo {
        width: 30px;
        height: 26px;
    }

    .email_logo {
        width: 21px;
        height: 14px;
    }

    .tel_logo {
        width: 18px;
        height: 18px;
    }

    .whatsapp_logo {
        width: 20px;
        height: 20px;
    }

    .container .page-h1 {
        font-size: 26px;
    }

    .container {
        font-size: 16px;
    }

}

@media (max-width: 575px) {
    .container_size {
        width: auto;
        margin: auto;
    }

    .d3 {
        flex-shrink: 3;
    }

    footer > div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
        justify-content: center;
        padding: 0 5px 5px;
        position: relative;
        align-content: center;
        /*height: 1187.5%;*/
        /*width: 100%;*/
        background: #FAE9CD;
        font-size: 17px;
        font-family: Arial, Inter, serif;
    }

    .wrapper {
        margin: auto;
    }

    .footer a {
        color: #492D2D;
    }

    .catalog {
        /*display: inline-block;*/
        margin: 0 10px 0 10px;
        float: left;

    }

    .menu {
        /*display: inline-block;*/
        margin: 0 9px 0 9px;

    }

    .list {
        /*display: inline-block;*/
        margin: 0 10px 0 10px;
    }

    .footer .contacts {
        /*display: inline-block;*/
        display: flex;
        flex-direction: column;
        gap: 93.75%;
        margin: 0 40px 0 20px;
        text-align: left;
    }

    .icons {
        /*padding-top: 159px;*/
        gap: 93.75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location_logo {
        width: 30px;
        height: 26px;
    }

    .email_logo {
        width: 21px;
        height: 14px;
    }

    .tel_logo {
        width: 18px;
        height: 18px;
    }

    .whatsapp_logo {
        width: 20px;
        height: 20px;
    }

    .nav {
        display: none;
    }
}

@media (max-width: 480px) {
    .container_size {
        width: auto;
        margin: auto;
    }

    .products {
        color: black;
        position: relative;
        background-color: #D6AE96;
        /*background-color: #492D2D;*/
        /*color: #492D2D;*/
        /*background-color: white;*/
        width: 15.625em;
        height: 9.375em;
        padding: 18px;
        border-radius: 10px;
        font-family: Arial, Inter, serif;
        /*Arial,*/
        font-size: 15px;
        overflow: auto;
        margin: 18px;
    }

    .d3 {
        flex-shrink: 3;
    }

    footer > div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 50px;
        justify-content: center;
        padding: 0 5px 5px;
        position: relative;
        align-content: center;
        /*height: 1187.5%;*/
        /*width: 100%;*/
        background: #FAE9CD;
        font-size: 13px;
        font-family: Arial, Inter, serif;
    }

    .wrapper {
        margin: auto;
    }

    h3 {
        font-size: 20px;
        text-align: center;
    }

    .footer a {
        color: #492D2D;
    }

    .catalog {
        /*display: inline-block;*/
        margin: 0 10px 0 10px;
        float: left;

    }

    .menu {
        /*display: inline-block;*/
        margin: 0 9px 0 9px;

    }

    .list {
        /*display: inline-block;*/
        margin: 0 10px 0 10px;
    }

    .footer .contacts {
        /*display: inline-block;*/
        display: flex;
        flex-direction: column;
        gap: 93.75%;
        margin: 0 40px 0 20px;
        text-align: left;
    }

    .icons {
        /*padding-top: 159px;*/
        gap: 93.75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header .info {
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: row-reverse;
        grid-gap: 10px;
        font-size: 40px;
        text-align: center;
    }

    .header .contacts {
        list-style-type: none;
        font-style: normal;
        font-size: 18px;
        line-height: 20px;
        padding-left: 0;
    }

    .logo_photo {
        position: relative;
        width: 115px;
        height: 24px;
        /*top: 13px;*/
        /*margin-left: -10px;*/
    }

    .location_logo {
        width: 30px;
        height: 26px;
    }

    .email_logo {
        width: 21px;
        height: 14px;
    }

    .tel_logo {
        width: 18px;
        height: 18px;
    }

    .whatsapp_logo {
        width: 20px;
        height: 20px;
    }

    .nav {
        display: none;
    }
}

