/*.page-content .container {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.page-h1 {
    font-size: 33px;
    font-weight: 600;
    line-height: normal;
}

.page-content {
    display: block;
    /*flex-direction: column;*/
    /*width: 100%;*/
    height: 650px;
    position: relative;
    top: 150px;
    left: 30px;
    right: 30px;
    font-size: 19px;
    font-family: Inter, serif;
}

body {
    background-color: #FAE9CDFF;
    overflow-x: hidden;
}

.nav a.selected {
    background: rgba(177, 152, 145, .3);
}

.nav a {
    color: #492D2D;
    padding: 10px 20px;
    background: white;
    border-radius: 12px;
}

.nav a.active {
    background-color: rgba(177, 152, 145, .3);
}

.nav a:hover {
    background: rgba(177, 152, 145, .3);
}

a {
    text-decoration: none;
}

footer > div {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 10px;
    /*flex-direction: row;*/
    /*margin: auto;*/
    position: relative;
    height: 250px;
    width: 100%;
    background: #FAE9CD;
    font-size: 17px;
    font-family: Arial, Inter, serif;
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
}

.footer a {
    color: #492D2D;
}

.catalog {
    /*display: inline-block;*/
    margin: 0 20px 0 57px;
    float: left;

}

.menu {
    /*display: inline-block;*/
    margin: 0 100px 0 20px;

}

.list {
    /*display: inline-block;*/
    margin: 50px 40px 0 20px;
}

.footer .contacts {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 117px 0 20px;
    text-align: left;
}

.icons{
    padding-top: 159px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*.contacts a {*/
/*    color: blue;*/
/*}*/

.catalog h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.menu h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.wrapper {
    padding: 100px;
}

h3 {
    font-size: 33px;
    text-align: center;
}