body {
    /*background-color: #FAE9CDFF;*/
    background-color: #FAE9CD;
    overflow-x: hidden;
}

form {
    position: relative;
    right: 0;
    max-width: 35rem;
    background-color: #fff;
    box-shadow: 0 3px 60px 0 rgba(0, 0, 0, .15);
    border-radius: 1rem;
}

.nav .d3 form {
    background-color: #fff;
}

.nav .d3 input, .d3 button {
    border: none;
    outline: none;
    background: transparent;
}

.nav .d3 input {
    width: 50%;
    height: 42px;
    padding-left: 15px;
    font-size: 15px;
    color: black;
}

.nav .d3 button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: url("magnifier.png") scroll no-repeat center;
    width: 5.5rem;
    height: 100%;
    cursor: pointer;
}

.nav .d3 button:before {
    /*content: url("headerIcons/magnifier.png");*/
    /*font-size: 10px;*/
    /*color: white;*/
}

.header {
    position: absolute;
    top: 15px;
    left: 30px;
    right: 30px;
    z-index: 1000;
}

.nav {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    height: 70px;
    left: 0;
    top: 80px;
    right: 0;
    color: #492D2D;
    background: #FFFFFF;
    border-radius: 12px;
}

.header .info {
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: row-reverse;
    top: 0;
    right: 0;
}

.header .contacts {
    list-style-type: none;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
}

a {
    text-decoration: none;
}

.nav a {
    color: #492D2D;
    padding: 10px 20px;
    background: white;
    border-radius: 12px;
}

.nav a:hover {
    background: rgba(177, 152, 145, .3);
}

.nav a.active {
    background-color: rgba(177, 152, 145, .3);
}


.info{
    position: absolute;
    font-size: 40px;
    top: 200px;
    text-align: center;
}

footer > div {
    margin-top: 1150px;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 10px;
    /*flex-direction: row;*/
    /*margin: auto;*/
    position: relative;
    height: 250px;
    width: 100%;
    background: #FAE9CD;
    font-size: 17px;
    font-family: Arial, Inter, serif;
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
}

.footer a {
    color: #492D2D;
}

.catalog {
    /*display: inline-block;*/
    margin: 0 20px 0 57px;
    float: left;

}

.menu {
    /*display: inline-block;*/
    margin: 0 100px 0 20px;

}

.list {
    /*display: inline-block;*/
    margin: 50px 40px 0 20px;
}

.footer .contacts {
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 117px 0 20px;
    text-align: left;
}

.icons {
    padding-top: 159px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalog h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.menu h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.servers {
    display: block;
    /*flex-direction: column;*/
    /*width: 100%;*/
    height: 650px;
    position: relative;
    top: 150px;
    left: 100px;
    /*left: 15px;*/
    /*right: 30px;*/
    font-size: 19px;
    font-family: Inter, serif;
}