.page-h1 {
    font-size: 33px;
    font-weight: 600;
    line-height: normal;
}

.page-content {
    display: block;
    height: 100%;
    position: relative;
    top: 150px;
    left: 30px;
    right: 30px;
    font-size: 19px;
    font-family: Inter, serif;
}

body {
    background-color: #FAE9CDFF;
    overflow-x: hidden;
}

form {
    position: relative;
    right: 0;
    max-width: 35rem;
    background-color: #fff;
    box-shadow: 0 3px 60px 0 rgba(0, 0, 0, .15);
    border-radius: 12px;
}

.nav .roof {
    position: relative;
    top: 5px;
    right: 5px;
}

.nav a.selected {
    background: rgba(177, 152, 145, .3);
}

.nav a {
    color: #492D2D;
    padding: 10px 20px;
    background: white;
    border-radius: 12px;
}

.nav a.active {
    background-color: rgba(177, 152, 145, .3);
}

.nav a:hover {
    background: rgba(177, 152, 145, .3);
}

.nav .d3 form {
    background-color: #fff;
}

.nav .d3 input, .d3 button {
    border: none;
    outline: none;
    background: transparent;
}

.nav .d3 input {
    width: 65%;
    height: 53px;
    padding-left: 16px;
    font-size: 17px;
    color: black;
}

.nav .d3 button {
    position: absolute;
    top: 0;
    right: 5px;
    border: none;
    background: url("../header_icons/magnifier.png") scroll no-repeat center;
    width: 3.5rem;
    height: 100%;
    cursor: pointer;
}

.nav .d3 button:before {
}

.header {
    position: absolute;
    top: 15px;
    left: 30px;
    right: 30px;
    z-index: 1000;
}

.nav {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    font-style: normal;
    font-size: 20px;
    line-height: 36px;
    height: 70px;
    left: 0;
    top: 80px;
    right: 0;
    color: #492D2D;
    background: #FFFFFF;
    border-radius: 12px;
}

.header .info {
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: row-reverse;
    top: 0;
    right: 0;
}

.header .contacts {
    list-style-type: none;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
}

a {
    text-decoration: none;
}

footer > div {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 10px;
    margin-top: 170px;
    position: relative;
    height: 250px;
    width: 100%;
    background: #FAE9CD;
    font-size: 17px;
    font-family: Arial, Inter, serif;
}

.footer a {
    color: #492D2D;
}

.catalog {
    margin: 0 20px 0 57px;
    float: left;
}

.menu {
    margin: 0 100px 0 20px;
}

.list {
    margin: 50px 40px 0 20px;
}

.footer .contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 117px 0 20px;
    text-align: left;
}

.icons{
    padding-top: 159px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin: 30px 20px;
    padding: 15px;
    border-radius: 10px;
    border: 2px dashed #333;
}

.card-container {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    margin: 20px 0;
}

.card-container .card {
    margin: -20px 20px;
    width: 300px;
}

.card-container .card .face {
    width: 100%;
    height: 200px;
    transition: 0.5s;
    background: #FFF;
    overflow: hidden;
}
.card-container .card .face-1 {
    border-radius: 15px;
    position: relative;
    z-index: 2;
    transform: translateY(50px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.card-container .card:hover .face-1 {
    transform: translateY(0);
}
.card-container .card .face-1 img {
    filter: brightness(0.8);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.card-container .card:hover .face-1 img {
    filter: brightness(1)
}
.card-container .card .face-1 h3 {
    padding: 10px 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    color: #FFF;
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
}
.card-container .card .face-2 {
    border-radius: 0 0 15px 15px;
    position: relative;
    z-index: 1;
    opacity: 0;
    background: #fff;
    padding: 20px 20px 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
    transform: translateY(-100px);
    height: 50px;
    transition: 0.5s;
}
.card-container .card:hover .face-2 {
    transform: translateY(0);
    opacity: 1;
}

.card-container .card .face-2 p {
    margin: 0;
    padding: 0 0 10px;
    font-size: 15px;
    line-height: 1.3;
    font-family: Verdana, sans-serif;
}
@media screen and (max-width: 696px) {
    .card-container {
        margin: 140px 0;
    }
}


.catalog h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.menu h4 {
    padding-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.wrapper {
    padding: 200px;
}

.slidesshow {
    max-width: 750px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.products {
    display: inline-block;
    color: white;
    background-color: #492D2D;
    width: 300px;
    height: 150px;
    padding: 18px;
    border-radius: 10px;
    font-family: Inter, serif;
    font-size: 18px;
    overflow: auto;
    margin: 18px;

}

.products a {
    color: white;
}

h3 {
    font-size: 33px;
    text-align: center;
}